.bod{
    background-image: url(Untitled-1.jpg);
    background-size: cover;
    
}

.custom-input{
    background:transparent !important;
    color:white;
}

.custom-input:focus{
    background:transparent !important;
    box-shadow:none;
    color:white;
}

/* input feild file  */
.custom-input::placeholder{
    color:rgba(255,255,255,0.6);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill{

    -webkit-text-fill-color:white;
    -webkit-box-shadow:0 0 0px 1000px transparent inset;
    transition:background-color 5000s ease-in-out 0s;

}

.spn{

    font-size: 12.5px;
}


.auth-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.auth-card{
    width:100%;
    max-width:400px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    overflow:hidden;
}


.title{
    text-align:center;
    margin-bottom:20px;
    font-weight:500;
    color: white;
}

.title1{
    text-align:center;
    margin-bottom:10px;
    font-weight:500;
    color: white;
}

.custom-input{
    height:50px;
    border-radius:12px;
    border:1px solid #dddddd64;
}

.custom-input:focus{
    box-shadow:none;
    border-color:#0d6efd;
}

.custom-btn{
    height:50px;
    border-radius:12px;
    background:#a41212;
    border:none;
    font-weight:600;
}

.custom-btn:hover{
    background:#d40b0b;
}

.form-section{
    display:none;
    animation:fade 0.4s ease;
}

.active-form{
    display:block;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media(max-width:576px){

    .auth-card{
        padding:25px;
    }

}


.car-login{
    background-color: #000000d6;
    
}


.textd{
    color: #a41212;
}